.clients-section {
  margin-bottom: 8rem;
  padding: 0 1rem;
}
.clients-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 5rem;
  align-items: center;
}
.clients-heading h2 {
  font-size: 3.5rem;
  margin-bottom: 0.3rem;
}
.clients-heading p {
  font-size: 1.9rem;
  line-height: 1.5;
}
.slideshows {
  width: 98%;
  margin: 0 auto;
}
.slideshows div {
  text-align: center;
}
.slideshows div img {
  width: 20rem;
  height: 15rem;
  object-fit: contain;
}
