.home-hero {
  background: url("/Fall-Back/background.jpg");
  background: url("/background.webp");
  background-size: cover;
  background-position: top center;
  height: 100vh;
  margin-bottom: 8rem;
}
.home-hero button {
  margin-top: 2rem;
}
