.solution-hero,
.mobile-hero,
.enterprise-hero,
.Isp-hero,
.band-hero,
.leading-edge-hero,
.fiber-solution-hero,
.fso-hero,
.five-gen-hero {
  background: url("/solution.webp");
  background-size: cover;
  background-position: center left;
  height: 80vh;
  margin-bottom: 5rem;
}
.all-solutions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  column-gap: 1.5rem;
  row-gap: 3rem;
  margin-top: 5rem;
}
.all-solutions div {
  border: 1px solid #dee2e6;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  background: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.all-solutions div:hover {
  transform: translateY(-4px);
}
.solution-title {
  color: var(--main-blue-color);
}
.solution-summary {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.7;
}

/* Mobile Page */
.mobile-hero {
  background: url("/mobile.webp");
  background-position: 50% 45%;
}
.solution-intro {
  width: 95%;
  max-width: 130rem;
  margin: 0 auto 5rem;
}
.mobile-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.solution-info {
  padding: 3.5rem 1rem 1rem 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.solution-info h2 {
  font-size: 3.2rem;
  text-transform: capitalize;
  line-height: 1.3;
}
.solution-info p {
  line-height: 1.7;
}

/*  */
.expandable,
.solution-outer-provision-container,
.isp-solutions-container {
  width: 95%;
  max-width: 130rem;
  margin: 0 auto;
}

.expandable {
  margin-top: 8rem;
  border-bottom: 1px solid black;
}
.expandable h2 {
  margin-bottom: 2rem;
}
.expandable ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expandable li {
  margin-left: 2rem;
}
/*  */

/* Enterprise Access */
.enterprise-hero {
  background: url("/Enterprise.webp");
  background-position: 50% 30%;
}
.solution-outer-provision-container {
  margin-top: 8rem;
}
.solution-inner-provision-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}
.solution-provision-heading {
  font-size: 3rem;
  text-transform: capitalize;
}
.each-solution {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
  border-radius: var(--border-radius);
  padding: 1.5rem;
}
.each-solution h3 {
  font-size: 2.5rem;
  line-height: 1.2;
}
.each-solution p {
  font-size: 1.8rem;
  margin-top: 1rem;
  line-height: 1.7;
}

/* ISP Network */
.Isp-hero {
  background: url("/ISP-Networks.webp");
  background-position: 50% 40%;
  background-size: cover;
}
.isp-solutions-container p {
  font-size: 1.9rem;
  margin-top: 1rem;
}
.isp-solutions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
  margin-top: 3rem;
}
.isp-solutions img {
  width: 90%;
}
/* Leading Edge */
.leading-edge-hero {
  background: url("/Leading-Edge.webp");
  background-position: center;
  background-size: cover;
}
.mimosa-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
}
.mimosa-container ul {
  padding: 0 1rem 2rem 3.8rem;
  font-size: 1.9rem;
  list-style: decimal;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mimosa-container li {
  line-height: 1.5;
}
.secondary-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}
.secondary-info li {
  font-size: 1.8rem;
  list-style: circle;
}
.mimosa-container img {
  width: 55%;
  align-self: center;
  margin-top: 2rem;
}
/* E-Band */
.band-hero {
  background: url("/E-band.webp");
  background-position: 50% 70%;
  background-size: cover;
}
/* Fiber Solution */
.fiber-solution-hero {
  background: url("/Monitoring.webp");
  background-position: center 80%;
  background-size: cover;
}
/* FSO */
.fso-hero {
  background: url("/Optics.webp");
  background-position: center 60%;
  background-size: cover;
}
/* 5G */
.five-gen-hero {
  background: url("/Fifth-Gen.webp");
  background-position: center 60%;
  background-size: cover;
}
@media (max-width: 27em) {
  .all-solutions {
    grid-template-columns: 1fr;
  }
}
