.training-hero {
  background-image: url("/Training.webp");
  background-size: cover;
  background-position: 50% 40%;
  height: 80vh;
}
.training-hero::before {
  background-color: rgba(255, 255, 255, 0.1);
}
.course-container {
  margin-top: 3rem;
  border-bottom: 1px solid black;
}
.course-container h2 {
  margin-bottom: 2rem;
}

.ZFS-info {
  margin-bottom: 2rem;
}
