* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-blue-color: hsl(209, 77%, 43%);
  --darker-white: rgb(239, 239, 239);
  --lighter-blue: #1c7ed6;
  --small-text-black: #333;
  --header-black: #1c1c1c;
  --def-transition-duration: 0.3s;
  --border-radius: 8px;
  --background-color: #f1f3f5;
  --form-background: #e9eaeb;
  --button-hover: #1c7ed6;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.flex-center {
  display: flex;
  align-items: center;
}
.text-center {
  text-align: center;
}
.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
h2 {
  color: var(--main-blue-color);
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  font-size: 3.1rem;
  color: var(--header-black);
  font-weight: bold;
}
p {
  color: var(--small-text-black);
}
button {
  background-color: var(--main-blue-color);
  border: none;
  font-size: 1.6rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
button a {
  width: 100%;
  height: 100%;
  padding: 1.3rem 1.8rem;
}
button:hover {
  background-color: var(--button-hover);
}

/* Pages Intro Section */
.page-main {
  width: 95%;
  max-width: 130rem;
  margin: 0 auto;
}
main h2 {
  color: var(--main-blue-color);
  font-size: 3rem;
  line-height: 1.4;
}
.intro-text h2 {
  margin-bottom: 1rem;
  color: var(--main-blue-color);
}
.intro-text p {
  color: black;
  font-size: 1.8rem;
  line-height: 1.9;
}
/* PAGE REDIRECTION */
.other-pages {
  margin-top: 4rem;
  gap: 6rem;
}
.each-page {
  position: relative;
}
.each-page img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.each-page-info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 2rem;
  z-index: 1;
}
.each-page-info::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.13);
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}
.each-page-info .heading {
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.each-page-info .link-button {
  border-radius: var(--border-radius);
  cursor: pointer;
  align-self: flex-start;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: var(--main-blue-color);
  border: none;
}
.each-page-info .link-button:hover {
  background-color: var(--button-hover);
}
