/* GENERAL QUERIES FOR THE HOME AND ANY REUSABLE LIKE THE FOOTER, HEADER E.T.C. ALL OTHER PAGE QUERIES ARE IN THEIR RESPECTIVE CSS */
@media (max-width: 66em) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .quick-links {
    grid-row: 2/3;
  }
}

@media (max-width: 62em) {
  header {
    padding: 1rem 1.5rem;
  }
  header img {
    width: 18rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .gallery li:last-child {
    grid-column: -1/-3;
    justify-items: center;
  }
  .services {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }
  .services-info {
    padding: 0;
  }
  .services-info h3 {
    max-width: none;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .img-box img {
    height: 70rem;
  }
  .info-box {
    padding: 4rem 1rem 0 1rem;
  }
  .slideshows div img {
    width: 18rem;
    height: 13rem;
  }
  .faq-container,
  .stats-container {
    width: 95%;
  }
  .page-main h2 {
    line-height: 1.5;
  }
  .isp-form,
  .oem-form {
    width: 90%;
  }
  figcaption {
    opacity: 1;
  }
  figure img {
    transform: scale(1);
  }
  .solution-main,
  footer button {
    transform: translate3d(0, 0, 0);
  }
  .faq-container {
    gap: 3rem;
  }
}
@media (max-width: 54em) {
  header {
    justify-content: space-between;
  }
  .company-logo {
    z-index: 99999;
  }
  header nav {
    display: none;
  }
  header.open nav {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    /* border: 1px solid var(--main-blue-color); */
    padding: 12rem 0 2rem 0;
    gap: 2.5rem;
    background-color: white;
    align-items: start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    justify-content: flex-start;
  }
  header.open nav ul {
    gap: 2rem;
    margin: 0;
    width: 100%;
  }
  header ul li {
    border-bottom: 1px solid Rgb(193, 193, 193);
    border-top: 1px solid rgb(193, 193, 193);
    background-color: var(--background-color);
    padding: 1rem 0;
    padding-left: 2rem;
    width: 100%;
    position: relative;
  }
  .dropdown {
    position: relative;
    width: 100%;
  }
  .dropdown .extra-links ul {
    margin: 1rem 0;
    width: auto;
  }
  .dropdown .extra-links {
    top: 4.3rem;
  }
  .dropdown button {
    margin-left: 2rem;
  }
  .extra-links {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    border-top: 2px solid var(--main-blue-color);
    border-bottom: 2px solid var(--main-blue-color);
    align-items: start;
    justify-content: start;
  }
  .extra-links li {
    border: none;
    background-color: white;
    padding: 1.5rem 0 1rem 2rem;
  }
  header.nav-shown .about-link {
    margin-bottom: 16.25rem;
  }
  header.nav-shown .service-link,
  header.nav-shown .solution-link {
    margin-bottom: 7.3rem;
  }
  header ul li a::before,
  header ul li::before {
    display: none;
  }
  header.nav-shown .nav-dropdown-content ul {
    gap: 1rem;
  }
  header nav ul,
  header nav {
    flex-direction: column;
  }
  .nav-dropdown {
    background-color: transparent;
    border: none;
    left: 0;
    top: 0;
    display: none;
  }
  .nav-dropdown img {
    display: none;
  }
  header.nav-shown {
    background-color: none;
  }
  .hamburger {
    display: block;
    position: relative;
    width: 4rem;
    height: 2.5rem; /* enough to fit 3 bars */
    cursor: pointer;
  }

  .hamburger div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    border-radius: 4px;
    transition: 0.3s ease;
  }

  /* place them */
  .hamburger div:nth-child(1) {
    top: 0;
  }
  .hamburger div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .hamburger div:nth-child(3) {
    bottom: 0;
  }

  /* OPEN state */
  .open .hamburger div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    display: grid;
  }
  .open .hamburger div:nth-child(2) {
    opacity: 0;
  }
  .open .hamburger div:nth-child(3) {
    transform: rotate(-45deg);
    bottom: auto;
    top: 50%;
  }

  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
  .cta {
    width: 95%;
  }
  .grid-two-cols {
    grid-template-columns: 1fr;
  }
  .footer p,
  .footer a {
    font-size: 1.9rem;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 56.25%;
  }
  .stats-container,
  .gallery,
  .services-offered {
    grid-template-columns: 1fr;
  }
  .gallery li:last-child {
    grid-column: auto;
    justify-items: stretch;
  }
  .service {
    gap: 1.2rem;
  }
  .hero-info {
    margin-top: 3rem;
  }
  .hero-info p {
    line-height: 1.5;
  }
  .contacts .address p,
  .company-info p {
    line-height: 1.8;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 50%;
  }
  .hero-info {
    width: 95%;
  }
  .company-info,
  .quick-links,
  .contact-address,
  .Get-In-Touch {
    grid-column: 1/3;
    width: 100%;
  }
  .contact-address {
    width: 80%;
    grid-row: 4/5;
  }
  .isp-form,
  .oem-form {
    width: 100%;
  }
  .footer {
    column-gap: 0;
  }
  .footer p,
  .footer a {
    font-size: 2rem;
  }
}
@media (max-width: 24em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 43.75%;
  }
  .hero-info h1 {
    font-size: 5.5rem;
  }
  .hero-info {
    margin-top: 4rem;
  }
}
